//EXTERNAL CSS USED - none

/////////////////////////////////////////////////////////COLOURS
$white:  #fff !default;
$black:  #000 !default;
$red:    #d9534f !default;
$orange: #f0ad4e !default;
$yellow: #ffd500 !default;
$green:  #5cb85c !default;
$blue:   #0275d8 !default;
$teal:   #5bc0de !default;
$pink:   #ff5b77 !default;
$purple: #613d7c !default;

$brand-primary:             $blue !default;
$brand-success:             $green !default;
$brand-info:                $teal !default;
$brand-warning:             $orange !default;
$brand-danger:              $red !default;

/////////////////////////////////////////////////////////@Extend Elements
%clearfix {
  content: "";
  display: block;
  clear: both;
}

%link {
  text-decoration: none;
  opacity: 0.7;
  transition: .2s ease;
  cursor: pointer;
}

%disabled-link {
  transform: none;
  cursor: not-allowed;
  font-weight: normal;
}

%declined {
  content: "X";
  color: $white;
  margin-left: 5px;
}

/////////////////////////////////////////////////////////GENERAL
@import url(https://fonts.googleapis.com/css?family=Open+Sans:300|Ubuntu:300,500);
body {
  font-family: "Open Sans";
  font-size: 13px;
  padding: 0 0 50px 0;
}

h1 {
  font-family: "Ubuntu";
  color: $brand-primary !important;
  font-weight: 500;
}

.hidden {
  display: none;
}

/////////////////////////////////////////////////////////KEY
.key {
  padding: 0;
  margin: 0;
  list-style: none;
  border-top: dashed 1px rgba($black, 0.1);
  margin-bottom: 1rem;
  li {
    display: inline-block;
    margin-right: 1rem;
    margin-top: 1rem;
    padding: 0.5rem;
    font-family: "Ubuntu";
    a {
      color: $white;
      text-decoration: none;
      &:hover {
        @extend %link
      }
    }
  }
  &:after {
    @extend %clearfix
  }
  .bankhol {
    background: rgba($brand-primary, 0.1);
  }
  .today {
    outline: solid 2px $brand-primary;
  }
}

/////////////////////////////////////////////////////////GANTT CHART - CHART VIEW
.ganttChart {
  width: 97vw;
  max-width: 1860px;
  .scrollArea {
    width: 80%;
    min-width: 50%;
    float: right;
    position: relative;
    overflow-x: scroll;
    overflow-y: hidden;
    display: block;
  }
  .fixedSide {
    width: 20%;
    float: left;
    border-collapse: collapse;
    td {
      height: 24px;
      text-align: right;
      font-family: "Ubuntu";
      font-weight: 300;
      padding-right: 8px;
    }
    .padding {
      height: 75px;
    }
  }
  .chartLayout {
    border-collapse: collapse;
    th {
      height: 35px;
      text-align: center;
      font-weight: 500;
      font-family: "Ubuntu";
      background: rgba($black, 0.02);
    }
    td {
      min-width: 24px;
      font-family: "Ubuntu";
      font-weight: 300;
      width: 25px !important;
      padding: 0;
      text-align: center;
      vertical-align: text-top;
      &:hover {
        cursor: pointer;
        opacity: 0.7;
        transition: .2s ease;
      }
    }
  }
  .chartData {
    display: block;
    position: absolute;
    top: 75px;
    left: 1px;
    .barRow {
      height: 26px;
      position: relative;
      display: block;
      width: 10175px;
    }
    .bar {
      position: absolute;
      height: 100%;
      z-index: 1;
      padding-right: 1px;
      &:hover {
        cursor: pointer;
        opacity: 0.7;
        transition: .2s ease;
      }
    }
  }
}

/////////////////////////////////////////////////////////SHARED
.day {
  &:hover {
    cursor: pointer;
    font-weight: bold;
    transform: scale(1.2);
    background: $brand-primary;
    transition: .2s ease;
    border-radius: 3px;
    color: $white;
  }
}

.odd {
  background: rgba($black, 0.06);
}

.month {
  width: 6%;
  text-align: right;
  font-weight: 600;
}

.weekend {
  background: rgba($black, 0.05);
  color: rgba($black, 0.5);
  &:hover {
    @extend %disabled-link;
  }
}

.today {
  outline: solid 2px $brand-primary;
  &:hover {
    @extend %disabled-link;
  }
}

.bankhol {
  background: rgba($brand-primary, 0.1);
  &:hover {
    @extend %disabled-link;
  }
}

/////////////////////////////////////////////////////////ABSENCE TYPES
.key, .chartData {
  .show-all {
  background: $black;
}

//PENDING HOLIDAY
.pending-holiday {
  background: linear-gradient( 45deg, lighten($brand-primary, 20%) 25%, $brand-primary 25%, $brand-primary 50%, lighten($brand-primary, 20%) 50%, lighten($brand-primary, 20%) 75%, $brand-primary 75%, $brand-primary);
  color: $white;
  animation: progress 1s linear infinite;
  background-size: 30px 30px;
  opacity: 0.7;
}

//APPROVED HOLIDAY
.approved-holiday {
  background-color: $brand-primary;
  color: $white;
}

//DECLINED HOLIDAY
.declined-holiday {
  background-color: lighten($brand-danger, 5%);
  &:after {
    @extend %declined
  }
}

//LATENESS
.lateness {
  background-color: $brand-warning;
  color: $white;
}

//SICK
.sickness {
  background-color: $brand-success;
  color: $white;
}

//PENDING OTHER
.pending-other {
  background: linear-gradient( 45deg, darken($brand-info, 20%) 25%, $brand-info 25%, $brand-info 50%, darken($brand-info, 20%) 50%, darken($brand-info, 20%) 75%, $brand-info 75%, $brand-info);
  color: $white;
  animation: progress 1s linear infinite;
  background-size: 30px 30px;
  opacity: 0.7;
}

//APPROVED OTHER
.approved-other {
  background-color: $brand-info;
}

//DECLINED OTHER
.declined-other {
  background-color: lighten($brand-danger, 20%);
  &:after {
    @extend %declined
  }
}
}

/////////////////////////////////////////////////////////FUN STUFF
@keyframes progress {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 60px 30px;
  }
}
